/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:right;
	align-items:center;
}
.hero2{
	padding:30px;
	text-align:center;
}
#button{
	background-color:red;
	border-radius:10%;
	color:white;
	padding:5px;
	text-decoration:none;
}